<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="sts.configuration" type="STS.Simple.Core.STSConfiguration, STS.Simple.Core, Version=1.0.0.0, Culture=neutral" />
  </configSections>
  <sts.configuration>
    <relyingParties>
      <rp name="spa" tokenLifeTime="480" issuerName="simpleSTS" redirectUrl="https://training01.inner.relational.gr:444/STS.RP.Static.Angular/index.html" realm="https://training01.inner.relational.gr:444/" authenticationUrl="https://localhost:444/STS.IdentityProvider/api/auth/mock/spa" tokenType="urn:oasis:names:tc:SAML:1.0:assertion">
        <signingCertificate storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName" findValue="issuer.model.local" />
      </rp>

      <rp name="test" tokenLifeTime="480" issuerName="simpleSTS" redirectUrl="https://ie11win8_1/test/api/login" realm="https://ie11win8_1/" authenticationUrl="https://training01.inner.relational.gr:444/STS.IdentityProvider/api/auth/mock/test" tokenType="urn:oasis:names:tc:SAML:1.0:assertion">
        <signingCertificate storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName" findValue="issuer.model.local" />
      </rp>


      <rp name="webApi" tokenLifeTime="480" issuerName="simpleSTS" redirectUrl="https://training01.inner.relational.gr:444/STS.RP.WebApi/api/login" authenticationUrl="https://training01.inner.relational.gr:444/STS.IdentityProvider/api/auth/mock/webApi" realm="https://training01.inner.relational.gr:444/" tokenType="urn:oasis:names:tc:SAML:1.0:assertion">
        <signingCertificate storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName" findValue="issuer.model.local" />
      </rp>
      <rp name="webApi1" tokenLifeTime="480" issuerName="simpleSTS" redirectUrl="https://training01.inner.relational.gr:444/STS.RP.WebApi1/api/login" authenticationUrl="https://training01.inner.relational.gr:444/STS.IdentityProvider/api/auth/mock/webApi1" realm="https://training01.inner.relational.gr:444/" tokenType="urn:oasis:names:tc:SAML:1.0:assertion">
        <signingCertificate storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName" findValue="issuer.model.local" />
      </rp>

      <rp name="fed" tokenLifeTime="480" issuerName="simpleSTS" redirectUrl="https://training01.inner.relational.gr:444/STS.FederationProvider/api/auth/login/fed" authenticationUrl="https://training01.inner.relational.gr:444/STS.IdentityProvider/api/auth/mock/fed" realm="https://training01.inner.relational.gr:444/STS.FederationProvider/" tokenType="urn:oasis:names:tc:SAML:1.0:assertion">
        <signingCertificate storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName" findValue="issuer.model.local" />
      </rp>
    </relyingParties>
  </sts.configuration>
  
  <appSettings></appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <machineKey compatibilityMode="Framework45" decryptionKey="93921A109057005B2D8F556768518CD4F50073EDBDE89882" validationKey="EEB4620FA3D04F707D0A03252E224CA7B2F357A7DB8878468EC3A13772CB84821C9EEBEBF1F7D20CB9CE2B35EC49D966241BBBFD789C1C33DC03F303C490D6A4" />
    <httpCookies httpOnlyCookies="true" requireSSL="true" />
  </system.web>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer></configuration>
